/* banner */
.banner {
	padding-bottom: 40px;
	background-color: #F5F5F5;
}

.banner-container {
	height: 250px;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

.banner-container  ul {
	height: 100%;
}

.banner-container li img {
	pointer-events: none;
}

.banner-container img {
	height: 100%;
	max-width: 100%;
}

div.rn-carousel-indicator span.active {
	color: orange;
}

/* product listing page */
.product-item-div {
	text-align: center;
}

.product-item-div .product-item {
	margin: 15px;
	padding: 15px;
	border: 1px solid black;
}

.product-item-div .product-item div {
	margin-buttom: 5px;
}

.product-img-div {
	height: 200px;
	border: 0.5px lightgray solid;
	padding: 1px;
}

.product-img-div  .product-img {
	width: 100%;
	max-height: 100%;
}

.product-item  .product-brand {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: 700;
	font-size: 14px;
}

.product-item  .product-name {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 12px;
}

.product-item .product-selling-price {
	font-size: 21px;
	font-weight: bold;
	color: #ff0b39;
	margin-bottom: 0.25rem;
}

.product-item .product-retail-price {
	font-size: 14px;
	color: #5f0549;
	text-decoration: line-through;
	margin-bottom: 0;
}

.product-item .product-action {
	height: 30px;
}

.product-item .product-quantity-div {
	width: 50%;
	float: left;
}

.product-item .product-quantity-select {
	width: 100%;
	padding: 5px;
}

.product-item .product-purchase {
	width: 50%;
	float: left;
}

/* checkout page */
.checkout-item-div .checkout-item {
	padding: 2%;
	border: 1px solid black;
	width: 50%;
	float: left;
}

.checkout-img-div {
	width: 28%;
	float: left;
	border: 0.5px lightgray solid;
	padding: 1px;
}

.checkout-img {
	width: 100%;
	max-height: 100%;
}

.checkout-product-details-div {
	width: 68%;
	padding: 0% 5%;
	float: left;
}

.checkout-name {
	word-break: break-word;
}

.checkout-selling-price {
	text-align: right;
}

.checkout-retail-price {
	text-align: right;
	text-decoration: line-through;
}

.checkout-shipping-fee-div {
	line-height: 20px;
}

.checkout-shipping-fee-amount {
	float: right;
}

.checkout-shipping-fee-amount.pending {
	color: red;
}

.black-line {
	border: 0.5px solid black;
	margin-bottom: 5px;
}

.checkout-total-price-label {
	float: left;
}

.checkout-total-price-amount {
	float: right;
	font-size: large;
	font-weight: bold;
}

.checkout-details-div {
	padding: 15px;
	height: 300px;
	float: right;
	width: 50%;
}

.shipment-details-div,
.promocode-details-div  {
	padding-left: 20px;
	padding-bottom: 10px;
}

.shipment-label,
.promocode-label {
	width: 120px;
	display: inline-block;
}

.checkout-action {
	float: right;
}

/* order summary page */
.summary-item-div {
	float: left;
	width: 55%;
}

.summary-img-div {
	float: left;
	width: 35%;
	border: 0.5px lightgray solid;
}

.summary-img-div  .summary-img {
	max-width: 100%;
	max-height: 100%;
}

.summary-product-details-div {
	float: left;
	width: 65%;
	padding: 20px;
}

.summary-product-name {
	word-break: break-word;
}

.summary-details-div {
	float: right;
	width: 40%;
	padding-right: 10%;
}

.summary-details-label {
	float: left;
	width: 50%;
	text-align: left;
}

.summary-details-value {
	float: right;
	width: 50%;
	text-align: right;
}